.formMessage{ /* for messages above the form */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.7em;
  color:#000000; /* constant: black */
}

.formTitle{ /* for header cells (top) of forms */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.8em;
  font-weight:bold;
  padding-left:0.8em;
  background-color:#5C5C5C; /* constant: dark gray */
  color:#FFFFFF; /* constant: white */
  border-top:1px solid #5C5C5C; /* constant: dark gray */
  border-left:1px solid #5C5C5C; /* constant: dark gray */
  border-right:1px solid #5C5C5C; /* constant: dark gray */
}
.formRequiredNotice{ /* for the asterisk cell */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:1em;
  background-color:#F4F4F5; /* constant: light gray */
  color:#000000; /* constant: black */
  border-left:1px solid #5C5C5C; /* constant: dark gray */
  border-bottom:1px solid #5C5C5C; /* constant: dark gray */
}

.formRequiredLabel{ /* for the required form labels */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.7em;
  font-weight:bold;
  background-color:#F4F4F5; /* constant: light gray */
  color:#000000; /* constant: black */
  border-right:1px solid #5C5C5C; /* constant: dark gray */
  border-bottom:1px solid #5C5C5C; /* constant: dark gray */
	text-align:right;
}

td.formField{ /* for the cell that contains the form elements */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.7em;
  color:#000000; /* constant: black */
  border-right:1px solid #5C5C5C; /* constant: dark gray */
  border-bottom:1px solid #5C5C5C; /* constant: dark gray */
  background-color:#F4F4F5; /* constant: light gray */
}

input.formDateSized{ /* for the form elements themselves and with a constant width (on elements) */
  font-family:arial,helvetica,verdana,sans-serif;
  border:1px solid #5C5C5C; /* constant: dark gray */
  font-size:1em;
  width:22em;
}

input.actionButton{ 
	font-size:	9pt;
	text-align:	center;
	text-decoration: none;
	color:		#000000;
	background:	#F4F4F5;
	margin-bottom:	2pt;
	border-top:	1px solid ;
	border-left:	1px solid ;
	border-right:	1px solid ;
	border-bottom:	1px solid ;
	font-family:	Verdana, Arial,
			"Comic Sans MS";
}

.dataTable{ /* for the main table below the labels */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.7em;
  color:#000000; /* constant: black */
  border-top:1px solid #5C5C5C; /* constant: dark gray */
  border-left:1px solid #5C5C5C; /* constant: dark gray */
}

.toolBoxTable{ /* for the main table below the labels */
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:1.1em;
  color:#000005; /* constant: black */
  border-top:1px solid #5C5C5C; /* constant: dark gray */
  border-left:1px solid #5C5C5C; /* constant: dark gray */
}

.tableBorder_styles_selectormenu
{	
	border-top:1px solid #5C5C5C; /* constant: dark gray */
  	border-left:1px solid #5C5C5C; /* constant: dark gray */
    border-collapse: collapse;
}
.standardBoldText
{ /* for stand-alone text not affected by any cascading text styles */
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
  font-size:1.0em;
  color:#000000; /* constant: black */
}
.toolLabelText
{
font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.8em;
  font-weight:bold;
  padding-left:0.8em;
  background-color:#F4F4F5; /* constant: dark gray */
  color:#000000; /* constant: white */
  border-top:1px solid #5C5C5C; /* constant: dark gray */
  border-left:1px solid #5C5C5C; /* constant: dark gray */
  border-right:1px solid #5C5C5C; /* constant: dark gray */
  cursor:hand;
}
.bodyStyle 
{
 background-color: FFFFFF; /* constant: white */
}
