<div id="advancedProperties" style="width: 100%; height: 100%; font-size : 10px; padding: 10px">
<div id = 'advancedPropertiesmessagesDiv' style = "width : 97%; padding-left : 10px" ></div>
		<div id="advancedControlsRadio">
			<input type="radio" id="calculatedAttribute" name="advancedControlsRadio" checked="checked" /><label for="calculatedAttribute">Calculated Attribute</label>
			<input type="radio" id="skipLogic" name="advancedControlsRadio" /><label for="skipLogic">Skip Logic</label>
		</div>
		<div id="skipLogicTab">
		
			<div class = "propertiesContainer">
				<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
					<label class = 'text_normal'>Select Field to Apply Skip Logic</label>
				</div>
				<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
					<select data-placeholder="Select Field(s)" id = 'controlledField'  style = 'width : 90%;' title = " " multiple="multiple">
					</select>
				</div>
			</div>
			
			<div class = "propertiesContainer" style = "padding-top:15px;">
				<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
					<label class = 'text_normal'>Controlling Field</label>
				</div>
				<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
					<select id = 'controllingField' class = 'textBox' style = 'width : 88%;' title = " ">
					</select>
				</div>
			</div>
			
			<div class = "propertiesContainer" id = "pvDiv" style = "padding-top:15px;">
				<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
					<label class = 'text_normal'>Controlling Permissible Value(s)</label>
				</div>
				<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
					<select data-placeholder="Select Permissible Value(s)" id = 'pvs' style = 'width : 90%;' title = " " multiple="multiple">
					</select>
				</div>
			</div>
			
			<div class = "propertiesContainer" id = "controllingValuesDiv">
				<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
					<label class = 'text_normal'>Controlling Value(s)</label>
				</div>
				<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
					<select id = 'controllingValuesCondition' style = 'width : 44%;' title = " " class = 'textBox'>
						<option value = "greaterThan">Greater than</option>
						<option value = "lessThan">Less than</option>
						<option value = "equalTo">Equal to</option>
						<option value = "lessThanEqualTo">Less than equal to</option>
						<option value = "greaterThanEqualTo">Greater than equal to</option>
					</select>
					<input id = "controllingValues" type = 'text' class = 'textBox' style = 'width : 44%;'>
				</div>
			</div>
			
			<div class = "propertiesContainer" style = "padding-top:15px;">
				<div style = 'width: 30%;' class = "propertiesContainerCell" align = right >
					<label class = 'text_normal'>Any Condition or All Conditions</label>
				</div>
				<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
					<div align = left id="anyOrAll" style = 'width : 41%;'>
						<input type="radio" id="any" name="anyOrAll" checked="checked" />
						<label for="any">Any</label>
						<input type="radio" id="all" name="anyOrAll"/>
						<label for="all">All</label>
					</div>
				</div>
			</div>
			
			<div class = "propertiesContainer" style = "padding-top:15px;">
				<div style = 'width: 30%;' class = "propertiesContainerCell" align = right >
					<label class = 'text_normal'>Action to be Performed</label>
				</div>
				<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
					<div id="skipLogicOperations" style = ' width : 60%;'>
						<input type="radio" id="enable" name="skipLogicOperations" />
						<label for="enable">Enable</label>
						<input type="radio" id="show" name="skipLogicOperations" checked="checked" />
						<label for="show">Show</label>
						<input type="radio" id="pvSubSet" name="skipLogicOperations"/>
						<label for="pvSubSet">Permissible Value Subset</label>
					</div>
				</div>
			</div>
			
			
			
			
			<div id = "pvSubSetDiv" align = right style = 'width : 100%; float : left; padding-top : 15px;'>
			
			
				<div class = "propertiesContainer">
					<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
						<label class = 'text_normal'>Permissible Value(s) Subset</label>
					</div>
					<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
						<select data-placeholder="Select Permissible Value(s)" id = 'subsetPvs' style = 'width : 90%;' title = " " multiple="multiple">
						</select>
					</div>
			    </div>
	
			   <div class = "propertiesContainer">
					<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
						 <label class = 'text_normal'>Upload PV Subset File</label>
					</div>
					<div style = 'width: 70%; vertical-align:middle;' class = "propertiesContainerCell" align = left >
						<form action="csdApi/form/permissibleValues" method="post" enctype="multipart/form-data" id = 'subsetPermissibleValuesForm'>
						<br>
					   <input type = "hidden" id = "pvSubsetFile"/>
					  
					   <input type="file" name="file" id = 'fileID'/>
					   <img src = "csd_web/icons/loader.gif" id = "pvSubSetFileWaitingImage">
					   <input type = "submit" value = "Upload"/>
					   <input type = "button" value = "Download PV(s)" id = "downloadPvsButton">
				   	</form>
					</div>
			    </div>
				
			
			
			<div class = "propertiesContainer">
					<div style = 'width: 30%;' class = "propertiesContainerCell" align = right>
						<label class = 'text_normal'>Default Permissible Value</label>
					</div>
					<div style = 'width: 70%;' class = "propertiesContainerCell" align = left >
						<select id = 'defaultPv' class = 'textBox' style = 'width : 90%;' title = " ">
						</select>
					</div>
			    </div>
			
			</div>
			

			<div id = "addSkipLogicBtnDiv" align = left style = 'padding : 15px; width : 80%; float : left;'>
				<div align = right style = 'width : 40%'>
					<input type = 'button' value = 'Add Skip Logic' class = 'button' style = 'width : 70%' id = "addSkipLogicBtn">
				</div>
			</div>
			<div id = "skipLogicTableDiv" align = right style = 'padding : 15px; width : 80%; float : left;'>
				<table id = "skipRulesTable" style = "width: 100%;">
					<tr id = "skipRulesTableHeader">
						<td class = "formulaTableHeader text_bold">Operations</td>
						<td class = "formulaTableHeader text_bold" >Controlling Field</td>
						<td class = "formulaTableHeader text_bold" style = "width: 60%">Skip Logic Field(s)</td>
						<td class = "formulaTableHeader text_bold" >Action</td>
					</tr>
				</table>
			</div>
			
			
		</div>
		<div id="calculatedAttributeTab" style = 'padding : 15px; width : 80%'>
			<div align = right>
				<label class = 'text_normal'>Select Field to Apply Auto Calculation</label>
				<select id = 'availableFields1' class = 'textBox' style = 'width : 60%;' title = " "></select>
			</div>
			<br>
			<div align = right>
				<table width = 100%>
					<tr>
						<td align = right><label class = 'text_normal'>Formula</label></td>
						<td align = right style = 'width : 60%'><div style = 'font-size : 10px'><textarea id = 'formulaField' rows = 4 style = 'width : 100%;'></textarea></div></td>
					</tr>
				</table>	
				
			</div>
			<br>
			<div align = right style = 'width : 40%; float : left;'>
				<input type = 'button' value = 'Add Formula' class = 'button' style = 'width : 70%' id = "addFormulaBtn">
			</div>
			<div align = right style = 'width: 100% ;float : left;' ><br><br><br></div>
			<div align = right style = 'width: 100%;float : left;' >
				<table id = "formulaTable" style = "width: 100%;">
					<tr id = "formulaTableHeader">
						<td class = "formulaTableHeader text_bold">Operations</td>
						<td class = "formulaTableHeader text_bold" >Calculated Field</td>
						<td class = "formulaTableHeader text_bold" style = "width: 60%">Formula</td>
					</tr>
				</table>
			</div>
			
		</div>
</div>	