
<div id="csdUIContainer" style="width:100%; height: 100%;">
	<div id="menu" style="height:920px;width:30%;float:left;">
		<div style = 'padding: 2px;'>
			<div id = 'controlsTreeOuterContainer' style = 'border:1px solid #c0c0c0; height: 920px; padding: 15px; margin: 2px;'>
				<div id = "formWaitingImage" style = "padding-left : 20%;">
					<div style = "padding-left : 2%;"><label class = "text_normal" >Processing</label></div>
					<div><img src = "csd_web/icons/hLoader.gif" ></div>	
				</div>
				<div id = 'controlsTreeDiv' style = 'width: 100%; height: 100%;'>
				</div>
			</div>
		</div>
	</div>
	<div id="content" style="height:920px;width:70%;float:left;">
		<div style = 'padding: 2px;'>
			<div id = 'rightSide' style = 'border:1px solid #c0c0c0;height: 880px; padding : 2px; overflow-y: auto'>
				<div id = 'csdOperationsContainer' style = 'height:100%'>
					<div id ='summary'>
						<div id = "formSummaryContainer" style = "width : 100%; height: 100%"></div>
					</div>
					<div id ='control'></div>
					<div id ='advancedControlProperties'></div>
					<div id = 'design'></div>
					<div id = 'preview' style = "padding : 10px; height : 730px">
						<iframe src = "" id = "previewFrame" style = "width : 100%; height : 100%; border : none;"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div id="dialog-message" title="Message">
				<p>
					<span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 50px 0;"></span>
					<div id = "popupMessageText"></div>
				</p>
		</div>
		<div id="general-dialog" title="Message">
				<p>
					<span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 50px 0;"></span>
					<div id = "dialogMessageText"></div>
					<input type = "hidden" id = "tempData"/>
				</p>
		</div>
		<div id="form-import-dialog" title="Import Form">
			<div style = 'width: 100%; float: left'>	
				<form action="csdApi/form/formxml" method="post" enctype="multipart/form-data" id = 'importForm'>
				   <label class = 'text_normal'>Select a File to import</label><br><br>
				   <input type="file" name="file" id = 'fileID'/>
				   <input type="submit" value="Upload" class = 'btn'/><img src = "csd_web/icons/loader.gif" id = "importFileWaitingImage">
			   	</form>
			</div>
		</div>



</div>