<div>
	<div style ='margin: 3px; padding: 3px'><label class = 'text_bold'>Field Properties</label></div>
	<div style = 'width: 100%; height: 100%'>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Caption</label>
			<input id = 'controlCaption' type = 'text' value = '{{caption}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Name</label>
			<input id = 'controlName' type = 'text' value = '{{controlName}}' class = 'textBox'>		
		</div>
	</div>
	<br><br>
	<div style ='margin: 3px; padding: 3px'><label class = 'text_bold'>Concept Details</label></div>
	<div style = 'width: 100%; height: 100%'>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Definition Source </label>
			<input id = 'conceptDefinitionSource' type = 'text' value = '{{conceptDefinitionSource}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Definition </label>
			<input id = 'conceptDefinition' type = 'text' value = '{{conceptDefinition}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Code  </label>
			<input id = 'conceptCode' type = 'text' value = '{{conceptCode}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Preferred Name </label>
			<input id = 'conceptPreferredName' type = 'text' value = '{{conceptPreferredName}}' class = 'textBox'>		
		</div>
		
	</div>
	
</div>