<div>
	<div class = "controlHeaders"><label class = 'text_bold'>Semantic Properties</label></div>
	<div style = 'width: 100%;'>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Definition Source </label>
			<input id = 'conceptDefinitionSource' type = 'text' value = '{{conceptDefinitionSource}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Definition </label>
			<input id = 'conceptDefinition' type = 'text' value = '{{conceptDefinition}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Code  </label>
			<input id = 'conceptCode' type = 'text' value = '{{conceptCode}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Preferred Name </label>
			<input id = 'conceptPreferredName' type = 'text' value = '{{conceptPreferredName}}' class = 'textBox'>		
		</div>
		
	</div>
</div>