	<div class = "controlHeaders"><label class = 'text_bold'>Semantic Properties</label></div>
	<div class = "propertiesContainer">
		<div class = "propertiesTextBoxContainer" align = right>
			<label class = 'text_normal'>Definition Source </label>
			<input id = 'conceptDefinitionSource' type = 'text' value = '{{conceptDefinitionSource}}' class = 'textBoxSmall'>
		</div>
		<div class = "propertiesTextBoxContainer" align = right>
			<label class = 'text_normal'>Definition </label>
			<input id = 'conceptDefinition' type = 'text' value = '{{conceptDefinition}}' class = 'textBoxSmall'>
		</div>
	</div>
	<div class = "propertiesContainer">
		<div class = "propertiesTextBoxContainer" align = right>
			<label class = 'text_normal'>Code  </label>
			<input id = 'conceptCode' type = 'text' value = '{{conceptCode}}' class = 'textBoxSmall'>
		</div>
		<div class = "propertiesTextBoxContainer" align = right>
			<label class = 'text_normal'>Preferred Name </label>
			<input id = 'conceptPreferredName' type = 'text' value = '{{conceptPreferredName}}' class = 'textBoxSmall'>		
		</div>
		
	</div>

	<div class = "controlHeaders"><label class = 'text_bold'>Other Options</label></div>
	<div class = "propertiesContainer">
		<div class = "propertiesTextBoxContainer" align = left>
		<div id="addPageBreak" style = 'width : 99%; font-size:62.5%; padding-left:17%;'>
				<label class = 'text_normal'>Page Break after Control</label>
				<input type="radio" id="pageBreakNo" name="addPageBreak" checked="checked" />
				<label for="pageBreakNo">No</label>
				<input type="radio" id="pageBreakYes" name="addPageBreak"/>
				<label for="pageBreakYes">Yes</label>
		</div>
		</div>
		<div class = "propertiesTextBoxContainer" align = left>
		<div id="labelAlignment" style = 'width : 99%; font-size:62.5%; padding-left:30%;'>
				<label class = 'text_normal'>Label Position</label>
				<input type="radio" id="align_left" name="labelAlignment" checked="checked" />
				<label for="align_left">Left</label>
				<input type="radio" id="align_top" name="labelAlignment"/>
				<label for="align_top">Top</label>
		</div>
		</div>
	</div>