
<div>
	<div id = 'controlDiv' style ='width: 100%; height: 80px; padding: 5px;'>
		<div>
			<div id="controlTypesSlider" style = "height : 70px">
		<a class="buttons prev" href="#">left</a>
		<div class="viewport">
			<ul class="overview">
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'stringTextField'><img src = 'csd_web/icons/Text.png' id = 'stringTextField'><br>String Text Box <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'numericField'><img src = 'csd_web/icons/num.png' id = 'numericField'><br>Numeric <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'textArea'><img id = 'textArea' src = 'csd_web/icons/Textarea.png'><br>Text Area <br>&nbsp;</div></a></li>									
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'radioButton'><img id = 'radioButton' src = 'csd_web/icons/Radio.png'><br>Radio Button <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'checkBox'><img id = 'checkBox' src = 'csd_web/icons/singleCheckbox.png'><br>Check Box <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'comboBox'><img id = 'comboBox' src = 'csd_web/icons/SelectSingle.png'><br>Drop down<br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'multiselectBox'><img id = 'multiselectBox' src = 'csd_web/icons/SelectMultiple.png'><br>Multi Select<br> List Box<br></div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'listBox'><img id = 'listBox' src = 'csd_web/icons/SelectMultiple.png'><br>List Box<br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'multiselectCheckBox'><img id = 'multiselectCheckBox' src = 'csd_web/icons/Checkbox.png'><br>Multi Select<br> Check Box</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'datePicker'><img id = 'datePicker' src = 'csd_web/icons/calendar.png'><br>Date Picker <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'fileUpload'><img id = 'fileUpload' src = 'csd_web/icons/upload.png'><br>File Upload <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'note'><img id = 'note' src = 'csd_web/icons/note.png'><br>Note <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'heading'><img id = 'heading' src = 'csd_web/icons/heading.png'><br>Heading <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'subForm'><img id = 'subForm' src = 'csd_web/icons/subForm.png'><br>Sub Form <br>&nbsp;</div></a></li>
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'label'><img id = 'label' src = 'csd_web/icons/label.png'><br>Label <br>&nbsp;</div></a></li>	
				<li><a href = '#' class= "link"><div class = 'iconBorder' align = 'center' id = 'pageBreak'><img id = 'pageBreak' src = 'csd_web/icons/pageBreak.png'><br>Page Break <br>&nbsp;</div></a></li>	
			</ul>
		</div>
		<a class="buttons next" href="#">right</a>
	</div>
		</div>
		<div>	
			<hr style = 'width: 95%; color :#707070; background-color:#707070; border : 0px; height: 1px;'>
		</div>
	</div>
	<div id = 'messagesDiv' style = "width : 97%; padding-left : 10px" ></div>
	<div id  = 'controlContainer'></div>
</div>