<div class = "controlHeaders"><label class = 'text_bold'>General Properties</label></div>
	<div class = "propertiesContainer">
		<div st8yle = 'width: 24%;' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Field Name</label>
		</div>
		<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
			<input type = 'text' id = 'controlCaption' class = 'textBox' style = "width:99%" value = "{{caption}}">
		</div>
	</div>
	<div class = "propertiesContainer">
			<div style = 'width: 24%;' class = "propertiesContainerCell" align = right>
				<label class = 'text_normal'>Tooltip</label>
			</div>
			<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
				<input type = 'text' id = 'toolTip' class = 'textBox' style = "width:99%" value = "{{toolTip}}">
			</div>			
	</div>
	<div class = "propertiesContainer">
		<div style = 'width: 48.5%;' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Attribute Name</label>
			<input id = 'userDefinedName' type = 'text' value = '{{userDefinedName}}' class = 'textBoxSmall'><input id = 'controlName' type = 'hidden' value = '{{controlName}}'>
		</div>	
		<div class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Format</label>
			<select id = "format" class = 'textDropDown'>
				  <option value="DATE">Date Only</option>
				  <option value="DATE AND TIME">Date and Time</option>
				  <option value="MONTH AND YEAR">Month and Year</option>
				  <option value="YEAR ONLY">Year Only</option>
			</select>
		</div>	
	</div>
	<div class = "propertiesContainer">
		<div class = "propertiesCheckBoxLabelContainer" align = right >
			<label class = 'text_normal'>PHI</label>
		</div>
		<div class = "propertiesCheckBoxContainer" align = left >
			<input id = 'isPHI' type = 'checkbox'>			
		</div>
		<div class = "propertiesCheckBoxLabelContainer" align = right >
			<label class = 'text_normal'>Mandatory</label>
		</div>
		<div class = "propertiesCheckBoxContainer" align = left >
			<input id = 'isMandatory' type = 'checkbox'>		
		</div>
	</div>
	
	
	
