<div class = "controlHeaders"><label class = 'text_bold'>General Properties</label></div>
	<div class = "propertiesContainer">
		<div style = 'width: 24%;' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Field Name</label>
		</div>
		<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
			<input type = 'text' id = 'controlCaption' class = 'textBox' style = "width:99%" value = "{{caption}}">
		</div>
	</div>
<div class = "propertiesContainer">
			<div style = 'width: 24%;' class = "propertiesContainerCell" align = right>
				<label class = 'text_normal'>Tooltip</label>
			</div>
			<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
				<input type = 'text' id = 'toolTip' class = 'textBox' style = "width:99%" value = "{{toolTip}}">
			</div>			
</div>
<div class = "propertiesContainer">
		<div class = "propertiesTextBoxContainer" align = right>
			<label class = 'text_normal'>Attribute Name</label>
			<input id = 'controlName' type = 'text' value = '{{controlName}}' class = 'textBoxSmall'>
		</div>
		<div class = "propertiesTextBoxContainer"></div>
</div>
	<div class = "propertiesContainer">
		<div class = "propertiesCheckBoxLabelContainer" align = right >
			<label class = 'text_normal'>PHI</label>
		</div>
		<div class = "propertiesCheckBoxContainer" align = left >
			<input id = 'isPHI' type = 'checkbox'>			
		</div>
		<div class = "propertiesCheckBoxLabelContainer" align = right >
			<label class = 'text_normal'>Mandatory</label>
		</div>
		<div class = "propertiesCheckBoxContainer" align = left >
			<input id = 'isMandatory' type = 'checkbox'>		
		</div>
	</div>
	
