
<div>
	<label class = 'text_normal'>Form Caption </label><br> 
	<input id = 'formCaption' type = 'text' value = '{{caption}}' class = 'textBox' style = 'margin : 5px; width : 93%'> 
	<br><label class = 'text_note'>( Create or Save a form with above caption )</label><br> 
	<input type = 'button' class = 'button' value = ' &nbsp;Load Form ' id = 'newForm'>&nbsp; 
	<input type = 'button' class = 'button' value = '&nbsp; Save Form &nbsp; ' id = 'saveFormID'>&nbsp;&nbsp;&nbsp;<img src = "../../csd_web/icons/loader.gif" id = "formWaitingImage">
</div>
