	<div class = "controlHeaders"><label class = 'text_bold'>General Properties</label></div>
	<div class = "propertiesContainer">
		<div class = "propertiesTextBoxContainer" align = right>
			<label class = 'text_normal'>Caption</label>
			<input id = 'controlCaption' type = 'text' value = 'Page Break' class = 'textBoxSmall' readonly = "readonly">
			<input id = 'controlName' type = 'hidden' value = '{{controlName}}' >
			<input id = 'userDefinedName' type = 'hidden' value = '{{userDefinedName}}' >
		</div>
		<div class = "propertiesTextBoxContainer" align = right></div>
	</div>