	
	<div class = "controlHeaders"><label class = 'text_bold'>Field Properties</label></div>
	<div style = 'width: 100%; '>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Caption</label>
			<input id = 'controlCaption' type = 'text' value = 'Page Break' class = 'textBox' readonly = "readonly">
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Unique Code</label>
			<input id = 'controlName' type = 'text' value = '{{controlName}}' class = 'textBox'>		
		</div>
	</div>