<div class = "controlHeaders"><label class = 'text_bold'>Permissible Values</label></div>
<!-- <div class = "propertiesContainer">
	<div class = "propertiesTextBoxContainer" align = "right">
	<label class = 'text_normal'>Sorting Order</label>
	<select id = "pvOrder" class = 'textBoxSmall'>
		  <option value="NONE">Unsorted</option>
		  <option value="ASC">Ascending</option>
		  <option value="DESC">Descending</option>	 
	</select>
	</div>
	<div class = "propertiesTextBoxContainer" align = right>
		<label class = 'text_normal'>Number of Values Per Row</label>
		<input id = 'optionsPerRow' type = 'text' value = '{{optionsPerRow}}' class = 'textBoxSmall'>		
	</div>
</div> -->
	<div style = 'width: 82%; padding: 3px; margin: 3px;' align = "right">
		<div id = 'pvGrid' style = 'width : 85%; height : 200px;'>
		</div>
		<div id="recinfoArea"></div>
	</div>
	<div align = "right" style = 'width: 80%; float: left'>
		<div style = 'width: 35%; float: left'>
			<input type = 'button' value = 'Add PV' class = 'btn' id = 'addPv'>
			<input type = 'button' value = 'Delete PV' class = 'btn' id = 'deletePv'> 
		</div>
		<div style = 'width: 65%; float: left'>	
			<form action="../../rest/ng/de-forms/permissibleValues" method="post" enctype="multipart/form-data" id = 'permissibleValuesForm'>
			   <label class = 'text_normal'>Select a File</label>
			   <input type="file" name="file" id = 'fileID'/>
			   <input type="submit" value="Upload"/><img src = "../../csd_web/icons/loader.gif" id = "pvFileWaitingImage">
		   	</form>
		</div>
	</div>
	
	
