<div class = "controlHeaders"><label class = 'text_bold'>General Properties</label></div>
	<div class = "propertiesContainer">
		<div style = 'width: 24%;' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Field Name</label>
		</div>
		<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
			<input type = 'text' id = 'controlCaption' class = 'textBox' style = "width:99%" value = "{{caption}}">
		</div>
	</div>
<div class = "propertiesContainer">
		<div style = 'width: 24%;' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Tooltip</label>
		</div>
		<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
			<input type = 'text' id = 'toolTip' class = 'textBox' style = "width:99%" value = "{{toolTip}}">
		</div>			
</div>
<div class = "propertiesContainer">
	<div  style = 'width: 48.5%;' class = "propertiesContainerCell"  align = right>
		<label class = 'text_normal'>Attribute Name</label>
		<input id = 'userDefinedName' type = 'text' value = '{{userDefinedName}}' class = 'textBoxSmall'><input id = 'controlName' type = 'hidden' value = '{{controlName}}'>
	</div>
	<div class = "propertiesContainerCell" align = "right">
		<label class = 'text_normal'>Data Type</label>
		<select id = "dataType" class = 'textDropDown'>
			  <option value="STRING">String</option>
			  <option value="INTEGER">Integer</option>
			  <option value="FLOAT">Float</option>
			  <option value="BOOLEAN">Boolean</option>
		      <!-- option value="DATE">Date</option-->
		</select>
	</div>
</div>

<div class = "propertiesContainer">
	<div class = "propertiesCheckBoxLabelContainer" align = right >
		<label class = 'text_normal'>PHI</label>
	</div>
	<div class = "propertiesCheckBoxContainer" align = left >
		<input id = 'isPHI' type = 'checkbox'>			
	</div>
	<div class = "propertiesCheckBoxLabelContainer" align = right style="width:23%;">
		<label class = 'text_normal'>Mandatory</label>
	</div>
	<div class = "propertiesCheckBoxContainer" align = left style = "width:27%; padding-left:0px;">
		<input id = 'isMandatory' type = 'checkbox'>		
	</div>
</div>


<div class="propertiesContainer">
  <div style="width: 24%" class="propertiesContainerCell" align="right">
    <label class="text_normal">Permissible Values Ordering</label>
  </div>
  <div id="pvOrder" style="width: 34%;padding-left:2px;" class="propertiesContainerCell" align="left">
    <label style="font-weight: 400"><input name="sortOrder" type="radio" value="NONE">None</label>
    <label style="font-weight: 400"><input name="sortOrder" type="radio" value="ASC">Ascending</label>
    <label style="font-weight: 400"><input name="sortOrder" type="radio" value="DESC">Descending</label>
  </div>
  <div class = "propertiesContainerCell" style="width: 39%;" align = right>
	<label class = 'text_normal'>Options Per Row</label>
	<input id = 'optionsPerRow' type = 'text' value = '{{optionsPerRow}}' class = 'textBoxSmall' style="width:67%">		
  </div>
</div>
	
	
