
<div>
	<br><br><br><br><br>
	<div class = "controlHeaders"><label class = 'text_bold'>Options</label></div>
	<div style = 'width: 100%; height: 100%'>

			<div style = 'width: 40%; padding: 3px; margin: 3px; float: left' align = right >
				<label class = 'text_normal'>PHI</label>
				<input id = 'isPHI' type = 'checkbox'>
			</div>
			<div style = 'width: 40%; padding: 3px; margin: 3px; float: left' align = right >
				<label class = 'text_normal'>Required</label>
				<input id = 'isMandatory' type = 'checkbox'>
			</div>		

		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left' align = right >
			<label class = 'text_normal'>Tool Tip</label>
			<input id = 'toolTip' type = 'text' value = '{{toolTip}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left' align = right >
			<label class = 'text_normal'>Data Type</label>
			<select id = "dataType" class = 'textBox' style = 'width : 52%'>
				  <option value="STRING">String</option>
				  <option value="INTEGER">Integer</option>
				  <option value="FLOAT">Float</option>
				  <option value="BOOLEAN">Boolean</option>
				  <option value="DATE">Date</option>
			</select>
		</div>
	</div>
	<br><br><br>
	
</div>	