
<div>
	<br><br><br><br><br><br><br>
	<div class="controlHeaders"><label class = 'text_bold'>Options</label></div>
	<div style = 'width: 100%; height: 100%'>
		<div style = 'width: 40%; padding: 3px; margin: 3px;' align = right >
			<label class = 'text_normal'>PHI</label>
			<input id = 'isPHI' type = 'checkbox'>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label class = 'text_normal'>Required</label>
			<input id = 'isMandatory' type = 'checkbox'>		
		</div>
	</div>
	<div style = 'width: 100%; height: 100%'>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Width</label>
			<input id = 'width' type = 'text' value = '{{width}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Default Value</label>
			<input id = 'defaultValue' type = 'text' value = '{{defaultValue}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Tool Tip</label>
			<input id = 'toolTip' type = 'text' value = '{{toolTip}}' class = 'textBox'>		
		</div>
	</div>
</div>