<div style = 'width: 100%; float: left;' align = right >
<div class = "controlHeaders" align = left><label class = 'text_bold'>Operations</label></div>
	<div style = 'width: 20%; padding: 3px; margin: 3px; float: left;' align = right >
		<input type = 'button' class = 'button' value = '&nbsp;Add Control To Form &nbsp;' id = 'createControlButtonid'>&nbsp;	
	</div>
	<div style = 'width: 20%; padding: 3px; margin: 3px; float: left;' align = right>
		<input type = 'button' class = 'button' value = '&nbsp;Delete Control &nbsp;' id = 'deleteControlButtonid' style = 'width: 72%' disabled>&nbsp;			
	</div>
	<div style = 'width: 20%; padding: 3px; margin: 3px; float: left;' align = right>
		<input type = 'button' class = 'button' value = '&nbsp;Copy &nbsp;' id = 'copyControlButtonid' style = 'width: 72%' disabled>&nbsp;			
	</div>
	<div style = 'width: 20%; padding: 3px; margin: 3px; float: left;' align = right>
		<input type = 'button' class = 'button' value = '&nbsp;Change Control Type &nbsp;' id = 'changeControlButtonid'>&nbsp;			
	</div>
</div>
