<div style= "padding-top : 15px;">
<div style = 'width: 100%;'>
	<div style = 'width: 70%; padding: 3px; margin: 3px; float: left;' align = right >
		<label class = 'text_normal'>Form Name</label>
		<input id = 'formCaption' type = 'text' value = '{{caption}}' class = 'textBox' style = "width : 85%">
		<input id = 'formName' type = 'hidden' value = '{{formName}}'>
	</div>
</div>			
</div>
<div  style = 'width: 100%; float: left;'><br><br></div>
<div style = 'width: 100%;'>
	<div style = 'width: 45%; padding: 3px; margin: 3px; float: left;' align = left>
		<label class = 'text_normal' style = 'padding-left: 28px;'>Created by: </label>
		<label class = 'readOnlyTextBox'>{{createdBy}}</label>
	</div>
	<div style = 'width: 45%; padding: 3px; margin: 3px; float: left;' align = left>
		<label class = 'text_normal' style = 'padding-left: 28px;'>Created on: </label>
		<label class = 'readOnlyTextBox'>{{createdOn}}</label>
	</div>
</div>

<div style = 'width: 100%;'>
	<div style = 'width: 45%; padding: 3px; margin: 3px; float: left;' align = left>
		<label class = 'text_normal'>Last modified by: </label>
		<label class = 'readOnlyTextBox'>{{lastModifiedBy}}</label>
	</div>
	<div style = 'width: 45%; padding: 3px; margin: 3px; float: left;' align = left>
		<label class = 'text_normal'>Last modified on: </label>
		<label class = 'readOnlyTextBox'>{{lastModifiedOn}}</label>
	</div>
</div>

<div  style = 'width: 100%; float : left;'><br><br></div>

<div style = 'width: 100%;'>
	<div style = 'width: 71%; padding: 3px; margin: 3px; float: left;' align = right >
		<input type = 'button' class = 'button' value = '&nbsp;Save &nbsp;' id = 'saveForm' style = 'width: 22%'>&nbsp;		

		<input type = 'button' class = 'button' value = '&nbsp;Import &nbsp;' id = 'importFormButton' style = 'width: 22%'>&nbsp;	
	
		<input type = 'button' class = 'button' value = '&nbsp;Export &nbsp;' id = 'exportForm' style = 'width: 22%'>&nbsp;	
		
		<input type = 'button' class = 'button' value = '&nbsp;Delete &nbsp;' id = 'deleteForm' style = 'width: 22%'>&nbsp;	
	</div>
</div>
</div>