
<div class = "controlHeaders"><label class = 'text_bold'>Field Properties</label></div>
	<div style = 'width: 100%; '>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Field Name</label>
			<input id = 'controlCaption' type = 'text' value = '{{caption}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right>
			<label class = 'text_normal'>Attribute Name</label>
			<input id = 'attributeName' type = 'text' value = '{{attributeName}}' class = 'textBox'>		
		</div>
	</div>
	<div style = 'width: 100%; '>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Unique Code</label>
			<input id = 'controlName' type = 'text' value = '{{controlName}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Default Value</label>
			<input id = 'defaultValue' type = 'text' value = '{{defaultValue}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Width</label>
			<input id = 'width' type = 'text' value = '{{width}}' class = 'textBox'>
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Tool Tip</label>
			<input id = 'toolTip' type = 'text' value = '{{toolTip}}' class = 'textBox'>		
		</div>
	</div>
	<div style = 'width: 100%; '>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = left >
			<table style = "margin-left:40%">
				<tr>
				<td><label class = 'text_normal'>PHI</label></td><td><input id = 'isPHI' type = 'checkbox'></td>
				</tr>
			</table>			
		</div>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = left >
			<table  style = "margin-left:30%">
				<tr>
				<td><label class = 'text_normal'>Mandatory</label></td><td><input id = 'isMandatory' type = 'checkbox'></td>
				</tr>
			</table>
		</div>
	</div>
	<div style = 'width: 100%; '>
		<div style = 'width: 40%; padding: 3px; margin: 3px; float: left;' align = right >
			<label class = 'text_normal'>Number of Rows</label>
			<input id = 'width' type = 'text' value = '{{noOfRows}}' class = 'textBox'>
		</div>
	</div>
