<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
 
<web-app>  
	<display-name>Dyanmic Extensions Data Entry Module</display-name>
<!-- @@test@@ -->
 
   
	<!-- application properties file path --> 
  	<context-param>
		<param-name>applicationproperties</param-name>
    	<param-value>ApplicationResources.properties</param-value>
	</context-param>

	<!-- base class for Application Resource bundle -->
	<context-param>
    	<param-name>resourcebundleclass</param-name>
    	<param-value>ApplicationResources</param-value>
	</context-param>

	<!-- Listener Configuration
 	<listener>
  		<listener-class>edu.common.dynamicextensions.util.listener.DynamicExtensionsServletContextListener</listener-class>
	</listener>-->

	<!-- Standard Action Servlet Configuration (with debugging)-->
	<servlet>
		<servlet-name>DataEntryHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.DataEntryHandler</servlet-class>
    </servlet>  
	<servlet>
		<servlet-name>DataEditHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.DataEditHandler</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>DataAssociationHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.DataAssociationHandler</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>RecordAssociationHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.RecordAssociationHandler</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>InsertCategoryEntityTreeHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.InsertCategoryEntityTreeHandler</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>RelatedAttributeHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.RelatedAttributeHandler</servlet-class>
    </servlet>      
	<servlet>
		<servlet-name>FileAttributesHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.FileAttributesHandler</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>EditCategoryEntityTreeHandler</servlet-name>
		<servlet-class>edu.common.dynamicextensions.dem.EditCategoryEntityTreeHandler</servlet-class>
    </servlet>          
    <!-- servlet>
		<servlet-name>DownloadFileAction</servlet-name>
		<servlet-class>edu.common.dynamicextensions.ui.webui.action.DownloadFileAction</servlet-class>
    </servlet>
	<servlet>
    	<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/dynamicextensions-struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
    	<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>edu.wustl.common.struts.ResponseServlet</servlet-class>
	</servlet-->
 
	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>DataEntryHandler</servlet-name>
		<url-pattern>/DataEntryHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataEditHandler</servlet-name>
		<url-pattern>/DataEditHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataAssociationHandler</servlet-name>
		<url-pattern>/DataAssociationHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordAssociationHandler</servlet-name>
		<url-pattern>/RecordAssociationHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertCategoryEntityTreeHandler</servlet-name>
		<url-pattern>/InsertCategoryEntityTreeHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelatedAttributeHandler</servlet-name>
		<url-pattern>/RelatedAttributeHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileAttributesHandler</servlet-name>
		<url-pattern>/FileAttributesHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCategoryEntityTreeHandler</servlet-name>
		<url-pattern>/EditCategoryEntityTreeHandler</url-pattern>
	</servlet-mapping>   
	<!--<servlet-mapping>
		<servlet-name>DownloadFileAction</servlet-name>
		<url-pattern>/DownloadFileAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/ResponseServlet</url-pattern>
	</servlet-mapping>
	-->
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

</web-app>