<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGen Dynamic Extensions Form Builder - Demo</title>
    <link rel="stylesheet" href="ngweb/css/de.css">
    <link rel="stylesheet" href="ngweb/external/jquery/css/chosen.min.css">
    <link rel="stylesheet" href="ngweb/external/jquery/css/chosen-sprite.png">
    <link rel="stylesheet" href="ngweb/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="ngweb/external/eternicode/css/datepicker.css">
    <script type="text/javascript" src="ngweb/external/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="ngweb/external/jquery/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="ngweb/external/underscorejs/underscore-min.js"></script>
    <script type="text/javascript" src="ngweb/external/backbonejs/backbone-min.js"></script>
    <script type="text/javascript" src="ngweb/external/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ngweb/external/bootstrap/js/bootbox.min.js"></script>
    <script type="text/javascript" src="ngweb/external/eternicode/js/bootstrap-datepicker.js"></script>
  </head>
</html>
<body>
  <div id="notifications" class="notifications hidden"></div>
  <div id="forms-list" class="panel panel-default">
   <div class="panel-heading">
      <span>All Forms</span>
      <a href="/catissuecore/loadcsd.do" class="btn btn-default btn-sm round-button-icon" style="padding-top:12px;"> <!-- style="border-radius: 100%;" -->
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
    <div class="panel-body">
      <div class="row" style="border:none;">
        <div class="col-md-10">
          <div class="col-md-1">ID</div>
          <div class="col-md-5">Caption</div>
          <div class="col-md-2">Created By</div>
          <div class="col-md-2">Creation Date</div>
        </div>
        <div class="col-md-2">Action</div>
      </div>
      <hr class="de-hr"></hr>
      <div id="forms-summary">
      </div>
    </div>
  </div>

  <div id="form-data-summary" class="panel panel-default hidden">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
    </div>
  </div>

  <fieldset id="form-view" class="de-form hidden">
  </fieldset>

  <script type="text/template" class="template_form_summary">
    <div id="form-<%- id %>" class="form-summary">
      <div class="row" style="border:none;">
        <div class="col-md-10">
          <div class="col-md-1"><%- id %></div> 
          <div class="col-md-5"><%- caption %></div>
          <div class="col-md-2"><%- createdBy %></div>
          <div class="col-md-2"><% print(Utility.formatDate(creationTime)) %></div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-default btn-xs form-data-entry">
            <span class="glyphicon glyphicon-list"></span>
          </button>
        </div>
      </div>
      <hr class="de-hr"></hr>
    </div>
  </script>

  <script type="text/template" class="template_data_summary_panel_heading">
    <span><%- caption %> Records</span>
    <button id="addFormRecord" class="btn btn-default btn-sm round-button-icon"> <!-- style="border-radius: 100%;" -->
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </script>

  <script type="text/template" class="template_data_summary_table_heading">
    <div class="row" style="border:none;">
      <div class="col-md-2">Record ID</div>
      <% if (heading.length >= 2) { %>
      <div class="col-md-3"><%- heading[1] %></div>
      <% } %>

      <% if (heading.length >= 3) { %>
      <div class="col-md-3"><%- heading[2] %></div>
      <% } %>

      <% if (heading.length >= 4) { %>
      <div class="col-md-3"><%- heading[3] %></div>
      <% } %>
    </div>
    <hr class="de-hr"></hr>
  </script>

  <script type="text/template" class="template_data_summary_table_row">
    <div class="row" style="border:none;">
      <div class="col-md-2"><%- record[0] %></div>
      <% if (record.length >= 2) { %>
      <div class="col-md-3"><%- record[1] %></div>
      <% } %>

      <% if (record.length >= 3) { %>
      <div class="col-md-3"><%- record[2] %></div>
      <% } %>

      <% if (record.length >= 4) { %>
      <div class="col-md-3"><%- record[3] %></div>
      <% } %>
    </div>
    <hr class="de-hr"></hr>
  </script>

  <script type="text/javascript">
    Utility = {
      months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],

      formatDate: function(timeInMs) {
        var input = new Date(timeInMs);
        var current = new Date();
        var dateDiff = current.getDate() - input.getDate();

        if (input.getFullYear() != current.getFullYear()) {
          return Utility.months[input.getMonth()] + " " + input.getDate() + ", " + input.getFullYear();
        } else if (input.getMonth() != current.getMonth() || dateDiff > 1) {
          return Utility.months[input.getMonth()] + " " + input.getDate();
        } else if (dateDiff == 1) {
          return "Yesterday";
        } else if (dateDiff == 0) {
          var suffix = "am";
          var hours = input.getHours();
          if (hours > 11) {
           hours = (hours == 12 ? hours : (hours - 12));
           suffix = "pm";
          }
          return hours + ":" + input.getMinutes() + " " + suffix;
        }
      },

      fieldLabel: function(label, options) {
        var fieldLabel = $("<div/>").addClass("col-md-2 control-label").append(label);
        if (options && options.textAlign) {
          fieldLabel.css("text-align", options.textAlign);
        }
        return fieldLabel;
      }, 

      row: function(options) {
        var rowDiv = $("<div/>").addClass("row");
        if (!options || !options.border) {
          rowDiv.css("border", "none");
        }
        return rowDiv;
      },

      iconButton: function(options) {
        return $("<button/>").addClass(options.btnClass)
                   .append($("<span/>").addClass("glyphicon " + options.icon));
      },

      textField: function(options) {
        var field = $("<input/>").prop("type", "text").addClass("form-control");
        if (options) {
          if (options.placeholder) field.prop("placeholder", options.placeholder);
          if (options.name) field.prop("name", options.name);
        }

        return field;
      },

      textArea: function(options) {
        var field = $("<textarea/>").addClass("form-control");
        if (options) {
          if (options.placeholder) field.prop("placeholder", options.placeholder);
          if (options.name) field.prop("name", options.name);
          if (options.noOfRows) field.prop("rows", options.noOfRows);
        }
        return field;
      },

      numberField: function(options) {
        var field = $("<input/>").prop("type", "number").addClass("form-control");
        if (options) {
          if (options.placeholder) field.prop("placeholder", options.placeholder);
          if (options.name) field.prop("name", options.name);
        }

        return field;
      }


    };

    Form = Backbone.Model.extend({
      defaults: {
        id: null,
        name: null,
        caption: null,
        creationTime: null,
        createdBy: null,
        rows: null
      },

      parse: function(args, options) {
        var rows = new FieldRowsCollection(args.rows);
        delete args.rows;

        this.set({'rows': rows});
        return args;
      }
    });

    FieldRow = Backbone.Model.extend({
      defaults: {
        fields: null
      },

      initialize: function(fields) {
        this.set({'fields': new FieldCollection(fields)});
      }
    });

    Field = Backbone.Model.extend({
      defaults: {
        name: null,
        udn: null,    
        caption: null,
        type: null,
        toolTip: null,
        format: null,
        defaultDateType: null,
        subForm: null,
      },

      initialize: function(args) {
        if (args.type == 'subForm') {
          var subForm = new Form({name: args.name, caption: args.caption, rows: new FieldRowsCollection(args.rows)});
          this.set({'subForm': subForm});
        }
      }
    });
  
    FormCollection = Backbone.Collection.extend({
      model: Form,
 
      url: "/catissuecore/rest/forms"
    });

    FieldRowsCollection = Backbone.Collection.extend({
      model: FieldRow
    });

    FieldCollection = Backbone.Collection.extend({
      model: Field
    });

    FormData = Backbone.Model.extend({
      defaults: {
        id: null,
        containerId: null,
      },

      url: function() {
        var url = "/catissuecore/rest/forms/" + this.get('containerId') + "/data";
        if (this.get('id')) {
          url += "/" + this.get('id');
        }

        return url;
      }
    });

    FormRecordList = Backbone.Model.extend({
      defaults: {
        id: null,
        caption: null,
        heading: null,
        records: null
      },

      url: function() {
        return "/catissuecore/rest/forms/" + this.get('id') + "/data";
      }
    });

    var formsCollection = new FormCollection();

    var FormViewManager = function() {
      this.formsListView = new ViewListOfForms({collection: formsCollection});
      this.currentView = this.formsListView;

      this.displayForms = function() {
        if (this.currentView != this.formsListView) {
          this.currentView.destroy();
        }

        if (this.formsListView) {
          this.formsListView.show();
        } else {
          this.formsListView = new ViewListOfForms({collection: formsCollection});
        }
        this.currentView = this.formsListView;
      },

      this.displayFormDataSummary = function(formId) {
        this.currentView.destroy();

        var form = formsCollection.get(formId);
        if (!form) {
          form = new Form({id: formId});
          formsCollection.add(form);
        }

        if (!form.get('caption')) {
          form.fetch({async: false});
        }

        this.currentView = new ViewListOfFormRecords({model: form});
        this.currentView.render();
      };

      this.displayForm = function(formId, recordId) {
        //this.currentView.toggleClass("hidden");
        this.currentView.destroy();

        var form = formsCollection.get(formId);
        if (!form) {
          form = new Form({id: formId});
          formsCollection.add(form);
        }

        if (!form.get('rows')) {
          form.fetch({async: false});
        }

        var formData = null;
        if (recordId) {
          formData = new FormData({id: recordId, containerId: formId});
          formData.fetch({async: false});
        }

        this.currentView = new ViewForm({model: form, data: formData});
        this.currentView.render();
      }
    };

    var formViewMgr = null;

    FormRouter = Backbone.Router.extend({
      routes : {
        "" : "displayForms",
        "displayFormDataSummary/:id"       : "displayFormDataSummary",
        "displayForm/:id(/data/:recordId)" : "displayForm"
      },

      displayForms: function() {
        formViewMgr.displayForms();
      },

      displayFormDataSummary: function(id) {
        formViewMgr.displayFormDataSummary(id);
      },

      displayForm: function(id, recordId) {
        formViewMgr.displayForm(id, recordId);
      }
    });

    var router = null;
    //var router = new FormRouter();
    //Backbone.history.start();


    ViewListOfForms = Backbone.View.extend({
      el: '#forms-summary',
 
      formsListEl: $('#forms-list'),

      initialize: function() {
        this.listenTo(this.collection, "add", this.add);
        this.collection.fetch();
        this.show();
      },

      add: function(form) {
        this.$el.append(new ViewFormSummary(form).render().el);
      },

      show: function() {
        this.formsListEl.show();
      },

      hide: function() {
        this.formsListEl.hide();
      },

      destroy: function() {
        this.hide();
        /*this.$el.children().remove();
        this.undelegateEvents();
        this.stopListening();
        this.formsListEl.hide();*/
      }
    });

    ViewFormSummary = Backbone.View.extend({
      template: _.template($(".template_form_summary").html()),

      events: {
        "mouseenter": "toggleSelect",
        "mouseleave": "toggleSelect",
        "click .form-summary .col-md-10": "edit",
	"click .form-data-entry": "displayFormDataSummary"
      },

      initialize: function(model) {
        this.model = model;
      },

      render: function() {
        Utility.formatDate(this.model.get('creationTime'));
        this.$el.html(this.template(this.model.toJSON()));
        return this;
      },

      toggleSelect: function() {
        this.$(".form-summary").toggleClass("de-select");
      },

      edit: function() {
        window.location = "/catissuecore/loadcsd.do#loadCachedForm/" + this.model.get("id") + "/true";
      },

      displayFormDataSummary: function() {
        router.navigate("#/displayFormDataSummary/" + this.model.get('id'));
      }
    });

    ViewFormRecordSummary = Backbone.View.extend({
      tableRowTmpl: _.template($(".template_data_summary_table_row").html()),

      events: {
        "click": "editFormData"
      },

      render: function() {
        this.$el.append(this.tableRowTmpl({record: this.model.record}));
        return this;
      },

      editFormData: function() {
        router.navigate("#/displayForm/" + this.model.containerId + "/data/" + this.model.record[0]);
        //var formData = new FormData({id: this.model.record[0], containerId: this.model.containerId});
        //formData.fetch({async:false});
      }
    });

    ViewListOfFormRecords = Backbone.View.extend({
      el: '#form-data-summary',

      panelHeadingTmpl: _.template($(".template_data_summary_panel_heading").html()),

      tableHeadingTmpl: _.template($(".template_data_summary_table_heading").html()),


      events: {
        "click #addFormRecord": "addRecord"
      },

      initialize: function() {
        this.recordList = new FormRecordList({id: this.model.get('id')});
        this.recordList.fetch({async:false});
      },

      render: function() {
        this.$(".panel-heading").append(this.panelHeadingTmpl({caption: this.recordList.get('caption')}));
        var panelBody = this.$(".panel-body");
        panelBody.append(this.tableHeadingTmpl({heading: this.recordList.get('heading')}));

        var that = this;
        _.each(this.recordList.get('records'), function(record) {
          panelBody.append(new ViewFormRecordSummary({model: {containerId: that.model.get('id'), record: record}}).render().el);
        });
        this.$el.show();
        this.$el.removeClass("hidden");
        return this;
      },

      addRecord: function() {
        router.navigate("#/displayForm/" + this.model.get("id"));
      },

      destroy: function() {
        this.$el.hide();
        this.$(".panel-heading").children().remove();
        this.$(".panel-body").children().remove();
        this.undelegateEvents();
        this.stopListening();
      }
    });

    ViewSubForm = function(subFormField, subFormData) {
      this.subFormField = subFormField,
      this.subFormData = subFormData,
       
      this.subFormDataDiv = $("<div/>"),
      this.subFormInputEl = [];

      this.render = function() {
        var rows = [];

        var headingRow = Utility.row().append(Utility.fieldLabel(subFormField.get('caption')));
        this.subFormField.get('subForm').get('rows').each(function(row) {
          row.get('fields').each(function(rowField) {
            headingRow.append(Utility.fieldLabel(rowField.get('caption'), {textAlign: "center"}));
          });
        });

        rows.push(headingRow);
        rows.push($("<hr/>").addClass("col-md-offset-2").css("margin-top", "4px").css("margin-bottom", "4px"));
        rows.push(this.subFormDataDiv);

        var addButton = Utility.iconButton({btnClass: "btn btn-default btn-sm", icon: "glyphicon-plus"});
        var that = this;
        var addSubFormRowFn = this.addSubFormRow();
        addButton.on("click", addSubFormRowFn);
  
        var addButtonRow = Utility.row().append($("<div/>").addClass("col-md-offset-2 col-md-2").append(addButton));
        rows.push(addButtonRow);

        var subForm = $("<div/>");
        _.each(rows, function(row) {subForm.append(row)});
        _.each(this.subFormData, function(data) { addSubFormRowFn(null, data); });
        return subForm;
      },

      this.addSubFormRow = function() {
        var that = this;
        return function(event, data) {
          var sfDataRow = Utility.row();
          var first = true;
          var inputEl = [];
      
          if (data) {
            inputEl.push(Utility.textField({name: "id"}).addClass("hidden").val(data["id"]));
          }
          
          that.subFormField.get('subForm').get('rows').each(function(row) {
            var selectEl = [];
            row.get('fields').each(function(rowField) {
              var fieldDiv = $("<div/>").addClass("col-md-2");
              if (first) {
                fieldDiv.addClass("col-md-offset-2");
                first = false;
              }

              var input = null, inputDiv;
              var value = !data ? undefined : data[rowField.get('name')];
              if (rowField.get('type') == 'stringTextField') {
                inputDiv = input = Utility.textField({name: rowField.get('name')});
                input.val(value);
              } else if (rowField.get('type') == 'textArea') {
                inputDiv = input = Utility.textArea({name: rowField.get('name')});
                input.val(value);
              } else if (rowField.get('type') == 'numberField') {
                inputDiv = input = Utility.numberField({name: rowField.get('name')});
                input.val(value);
              } else if (rowField.get('type') == 'combobox' || rowField.get('type') == 'listbox') {
                inputDiv = input = $("<select/>").prop({name: rowField.get('name'), multiple: rowField.get('type') == 'listbox'});
                _.each(rowField.get('pvs'), function(pv) {
                  input.append($("<option/>").prop("value", pv.value).append(pv.value));
                });
                input.addClass("form-control").val(value);
                selectEl.push(input);
              } else if (rowField.get('type') == 'datePicker') {
                inputDiv = input = Utility.textField({name: rowField.get('name')}).addClass("de-date-picker");
                var format = rowField.get('format');
                if (format && format.length != 0) {
                  format = format.toLowerCase();
                } else {
                  format = "mm-dd-yyyy";
                }

                input.val(value);
                input.datepicker({format: format, autoclose: true});
              } else if (rowField.get('type') == 'booleanCheckbox') {
                input = $("<input/>").addClass("checkbox-inline").attr({"type": "checkbox", name: rowField.get('name'), value: "true"}).addClass("form-control")
                if (value == "1" || value == "true") {
                  input.prop('checked', true);
                }
                inputDiv = $("<label/>").addClass("checkbox-inline").css("padding-left", "40%").append(input);
              } 

              inputEl.push(input);
              sfDataRow.append(fieldDiv.append(inputDiv));
              _.each(selectEl, function(select) { select.chosen({width: "100%"}); });
            });
          });

          that.subFormInputEl.push(inputEl);
          var separator = $("<hr/>").addClass("col-md-offset-2")
                                    .css("border", "none")
                                    .css("margin-top", "4px")
                                    .css("margin-bottom", "4px");
          var removeButton = Utility.iconButton({btnClass: "btn btn-default btn-sm", icon: "glyphicon-remove"});
          removeButton.on("click", function() {
            that.subFormInputEl = _.without(that.subFormInputEl, inputEl);
            sfDataRow.remove();
            separator.remove();
          });
               
          sfDataRow.append($("<div/>").addClass("col-md-2").append(removeButton));
          that.subFormDataDiv.append(sfDataRow).append(separator);
        }
      },

      this.getData = function() {
        var subFormDataList = [];
        _.each(this.subFormInputEl, function(rowInputEl) {
          var subFormData = {};
          _.each(rowInputEl, function(inputEl) {
            var name = inputEl.prop('name');
            if (name == 'id') {
              subFormData[name] = parseInt(inputEl.val());
            } else if (inputEl.prop('type') == 'checkbox') {
              subFormData[name] = inputEl.prop('checked');
            } else {
              subFormData[name] = inputEl.val();
            }
          });

          subFormDataList.push(subFormData);
        });

        return subFormDataList;
      },

      this.getName = function() {
        return this.subFormField.get('name');
      }
    },

    ViewForm = Backbone.View.extend({
      el: "#form-view",

      events: {
        "click .form-horizontal #saveForm": "saveForm",
        "click .form-horizontal #cancelForm": "cancelForm"
      },

      initialize: function(args) {
        this.data = args.data;
        this.inputEl = [];
        this.selectEl = [];
      },

      render: function() {
        this.$el.append($("<legend/>").append(this.model.get('caption')));

        var that = this;
        var formCtrls = $("<div/>").addClass("form-horizontal");
        this.model.get('rows').each(function(row) {
          formCtrls.append(that.getRowDiv(row));
          formCtrls.append($("<hr/>").css("border", "none"));
        });

        formCtrls.append(this.getActionButtons());
        this.$el.append(formCtrls);

        _.each(this.selectEl, function(select) { select.chosen({width: "100%"}); });
        this.$el.removeClass("hidden");
        this.$el.show();
        return this;
      },

      destroy: function() {
        _.each(this.selectEl, function(select) { select.chosen('destroy'); });
        this.$el.children().remove();
        this.$el.hide();
        this.undelegateEvents();
        this.stopListening();
      },

      getRowDiv: function(rowFields) {
        var field = rowFields.get('fields').at(0);
        if (field.get('type') == 'subForm') {
          var subFormData = !this.data ? [] : this.data.get(field.get('name'));
          var subForm = new ViewSubForm(field, subFormData);
          this.inputEl.push(subForm);
          return subForm.render();
        }

        var rowDiv = Utility.row().append(Utility.fieldLabel(field.get('caption')));
        var additionalRows = [];
        var input = null, inputDiv = null;
        var value = !this.data ? undefined : this.data.get(field.get('name'));
        if (field.get('type') == 'stringTextField') {
          input = Utility.textField({name: field.get('name'), placeholder: field.get('caption')});
          input.val(value);
          inputDiv = [input];
        } else if (field.get('type') == 'numberField') {
          input = Utility.numberField({name: field.get('name'), placeholder: field.get('caption')});
          input.val(value);
          inputDiv = [input];
        } else if (field.get('type') == 'textArea') {
          input = Utility.textArea({name: field.get('name'), placeholder: field.get('caption'), noOfRows: field.get('noOfRows')});
          input.val(value);
          inputDiv = [input];
        } else if (field.get('type') == 'datePicker') {
          input = Utility.textField({name: field.get('name'), placeholder: field.get('caption')}).addClass("de-date-picker");
          var format = field.get('format');
          if (format && format.length != 0) {
            format = format.toLowerCase(); 
          } else {
            format = "mm-dd-yyyy";
          }

          input.val(value);
          input.datepicker({format: format, autoclose: true});
          inputDiv = [input];
        } else if (field.get('type') == 'booleanCheckbox') {
          input = $("<input/>").attr({"type": "checkbox", name: field.get('name'), value: "true"}).addClass("form-control")
          if (value == "1" || value == "true") {
            input.prop('checked', true);
          }
          inputDiv = [$("<label/>").addClass("checkbox-inline").append(input)];
        } else if (field.get('type') == 'radiobutton' || field.get('type') == 'checkbox') {
          var pvs = field.get('pvs'); 
          input = [];
          inputDiv = [];
          var count = 0;
          var buttons = [];
          var type = null, typeclass = null;
          if (field.get('type') == 'radiobutton') {
            type = 'radio';
            typeclass = 'radio-inline';
            value = [value];
          } else {
            type = 'checkbox';
            typeclass = 'checkbox-inline';
          }

          _.each(pvs, function(pv) {
            var checked = _.contains(value, pv.value);
            var button = $("<input/>").prop({type: type, name: field.get('name'), value: pv.value, checked: checked});
            var div = $("<div/>").addClass("col-md-2").append($("<label/>").addClass(typeclass).append(button).append(pv.value));
            if (count < 3) {
              inputDiv.push(div);
            } else {
              if (count != 3 && count % 3 == 0) {
                additionalRows.push(Utility.row().append(buttons));
                buttons[0].addClass("col-md-offset-2");
                buttons = [];
              } 
              buttons.push(div);
            }
            ++count;
            input.push(button);
          });

          if (buttons.length != 0) {
              additionalRows.push(Utility.row().append(buttons));
              buttons[0].addClass("col-md-offset-2");
          }
        } else if (field.get('type') == 'combobox' || field.get('type') == 'listbox') {
          var select = $("<select/>").prop({name: field.get('name'), multiple: field.get('type') == 'listbox'});
          select.addClass("form-control");
          _.each(field.get('pvs'), function(pv) {
            select.append($("<option/>").prop("value", pv.value).append(pv.value));
          });

          select.val(value);
          this.selectEl.push(select);
          input = select;
          inputDiv = [select];
        } else {
          alert(field.get('type'));
          inputDiv = input = $("<div/>").addClass("col-md-6").append(field.get('type'));
        } 

        this.inputEl.push(input);
        var rowClass = "col-md-6";
        if (inputDiv.length > 1) {
          rowClass = "";
        }
        return [rowDiv.append($("<div/>").addClass(rowClass).append(inputDiv))].concat(additionalRows);
      },

      getActionButtons: function() {
        var btns = $("<div/>").addClass("col-md-offset-2 col-md-6 modal-footer");
        var save = $("<button/>").attr({"type": "button", "id": "saveForm"}).addClass("btn btn-primary").append("Save");
        var cancel = $("<button/>").attr({"type": "button", "id": "cancelForm"}).addClass("btn btn-default").append("Cancel");
        btns.append(cancel).append(save);

        return Utility.row().append(btns);
      },

      saveForm: function() {
        var formData = {};
        if (this.data) {
          formData["id"] = this.data.get('id');
        }

        formData["containerId"] = this.model.get('id');
        _.each(this.inputEl, function(input) {
          if (input instanceof ViewSubForm) {
            formData[input.getName()] = input.getData();
          } else if (input instanceof Array) {
            var radio = input[0].prop('type') == 'radio';
            var values = [];
            for (var idx = 0; idx < input.length; ++idx) {
              if (input[idx].prop('checked')) {
                values.push(input[idx].val());
                if (radio) {
                  break;
                }
              }
            }

            formData[input[0].prop('name')] = radio ? values[0] : values;
          } else if (input.prop('type') == 'checkbox') { 
            formData[input.prop("name")] = input.prop('checked') == true;
          } else {
            formData[input.attr("name")] = input.val();
          }
        });

        var model = new FormData({containerId: formData.containerId});
        model.save(formData, {
          success: function() { 
             notify($("#notifications"), "Form Data Saved", "success", true);
          },

          error: function() {
             notify($("#notifications"), "Form Data Save Failed", "error", true);
          }
        });
      },

      cancelForm: function() {
        bootbox.confirm("Edited Form Data Will be Lost. OK?", 
          function(result) { 
            if (result) {
              window.history.back();
            }
          });
      }
    });

    notify = function(notifDiv, message, type, fade) {
      fade = (typeof fade == 'undefined' || fade == null ) ? true : fade;
      notifDiv.removeClass("alert alert-success alert-info alert-danger hidden");
      notifDiv.html(message);
      var alertClass;
      if (type == 'success') {
        alertClass = "alert alert-success";
      } else if (type == 'error') {
        alertClass = "alert alert-danger";
      } else if (type == 'info') {
        alertClass = "alert alert-info";
      }

      notifDiv.addClass(alertClass).show();
      if (fade) {
        notifDiv.delay(3000).fadeOut(300);
      }
    };


    $(document).ready(function() {
      formViewMgr = new FormViewManager();
      router = new FormRouter();
      Backbone.history.start();
    });
  </script>
</body>
