/* Carousel CSS */
#controlTypesSlider {
	height: 1%;
	overflow: hidden;
	padding: 0 0 5px;
}

#controlTypesSlider .viewport {
	float: left;
	width: 820px;
	height: 80px;
	overflow: hidden;
	position: relative;
}

#controlTypesSlider .buttons {
	background: url("../icons/buttons.png") no-repeat scroll 0 0
		transparent;
	display: block;
	margin: 22px 12px 0 0;
	background-position: 0 -38px;
	text-indent: -999em;
	float: left;
	width: 39px;
	height: 37px;
	overflow: hidden;
	position: relative;
}

#controlTypesSlider .next {
	background-position: 0 0;
	margin: 22px 0 0 10px;
}

#controlTypesSlider .disable {
	visibility: hidden;
}

#controlTypesSlider .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100px;
	left: 0 top:  0;
}

#controlTypesSlider .overview li {
	float: left;
	margin: 0 5px 0 0;
	padding: 1px;
	height: 80px;
	width: 96px;
}