.textBox,.textBoxSmall,.textBoxTiny,.textDropDown {
	font-size: 12px;
	padding: 7px;
	border: 1px solid #c0c0c0;
	color: #000000;
	background-color: #ffffff;
}

.textBoxSmall{
	width: 48%;
}

.textDropDown{
	width: 52%;
}

.textBoxTiny{
	width: 25%;
}

.readOnlyTextBox {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.button {
	font-size: 12px;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #505050
}

.btn {
	font-size: 12px;
	padding: 1px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #505050
}

.text_normal {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #505050
}

.text_grid_header {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #505050;
	font-weight: normal;
}

.text_bold {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #505050
}

.text_note {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #707070;
}

.text_error {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: red;
	font-weight: bold;
}

.text_success {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: green;
	font-weight: bold;
}

.iconBorder {
	border: 1px solid #c0c0c0;
	padding: 2px;
	margin: 5px;
	color: #303030;
	font-color: #303030;
}

.evenGridRow {
	background-color: #FFF;
}

.unevenGridRow {
	background-color: #F0F0F0;
}

.controlHeaders {
	background-color: #E8E8E8;
	margin: 3px;
	padding: 3px;
	padding-left: 10px;
	float: left;
	width: 97%;
}

.formulaTableHeader {
	background-color: #E8E8E8;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	padding: 5px;
}

.formulaTableRow,.formulaTableRowEven,.formulaTableRowOdd {
	padding: 3px;
}

.formulaTableRowEven {
	background-color: #F8F8F8;
	border-left: 1px solid #F8F8F8;
	border-right: 1px solid #F8F8F8;
}

.formulaTableRowOdd {
	background-color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.link {
	width: 100px;
	border: 0px;
	text-decoration: none !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #303030;
	font-color: #303030;
	float: left;
}

.propertiesContainer {
	width: 83%;
	display: table;
	float: left;
	height: auto;
}


.propertiesContainerCell,.propertiesCheckBoxContainer,.propertiesTextBoxContainer,.propertiesCheckBoxLabelContainer
	{
	padding: 3px;
	margin: 3px;
	display: table-cell;
	vertical-align: middle;
}

.propertiesCheckBoxContainer {
        padding-left: 8px;
	width: 26%;
}

.propertiesCheckBoxLabelContainer {
	width: 24%;
	padding-top: 12px;
}

.propertiesTextBoxContainer {
	width: 40%;
}


# CSS RELATED TO PREVIEW OF NEW DE MODEL

.de-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.de-clear {
  clear: both;
}

.de-select {
  background-color: rgb(245, 245, 245);
}

.de-form {
  font-size: 14px;
}

.de-sf-grid {
  overflow-x: auto;
  white-space: nowrap;
}

.de-sf-grid [class*="col-xs"] {
  display: inline-block;
  float: none;
}

.de-sf-field {
  color: #333;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  position: relative;
  font-size: 14px;
}

.round-button-icon {
  width: 40px;
  height:40px;
  border-radius:100%;
}

.notifications {
  text-align: center;
  z-index: 100;
  position: fixed;
  width:100%;
  top: 0;
}


select.form-control + .chzn-container.chzn-container-single .chzn-single {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-image:none;
}

select.form-control + .chzn-container.chzn-container-single .chzn-single div {
  top:4px;
  color:#000;
}

select.form-control + .chzn-container .chzn-drop {
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin: 2px 0 0;
}

select.form-control + .chzn-container .chzn-search input[type=text] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image:none;
}

select.form-control + .chzn-container .chzn-results {
  margin: 2px 0 0;
  padding: 5px 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  margin-bottom: 5px;
}

select.form-control + .chzn-container .chzn-results li , 
select.form-control + .chzn-container .chzn-results li.active-result {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  background-image:none;
}

select.form-control + .chzn-container .chzn-results li:hover, 
select.form-control + .chzn-container .chzn-results li.active-result:hover,
select.form-control + .chzn-container .chzn-results li.highlighted {
  color: #FFF;
  text-decoration: none;
  background-color: #428BCA;
  background-image:none;
}

select.form-control + .chzn-container-multi .chzn-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image:none;
}

select.form-control + .chzn-container-multi .chzn-choices li.search-field input[type="text"] {
  height:auto;
  padding:5px 0;
}

select.form-control + .chzn-container-multi .chzn-choices li.search-choice {
  background-image: none;
  padding: 3px 24px 3px 5px;
  margin: 0 6px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

select.form-control + .chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
  top:8px;
  right:6px;
}

select.form-control + .chzn-container-multi.chzn-container-active .chzn-choices,
select.form-control + .chzn-container.chzn-container-single.chzn-container-active .chzn-single,
select.form-control + .chzn-container .chzn-search input[type=text]:focus {
  border-color: #66AFE9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chzn-container-multi .chzn-results li.result-selected{
  display: list-item;
  color: #ccc;
  cursor: default;
  background-color: white;
}

.chzn-container {
  display: block !important;
}

label {
  color: #333;
  font-size: 14px;
}

.row {
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-top: 5px;
}

.form-group .btn {
  height: 30px !important;
  width: 30px !important;
}

.modal-footer .btn {
  height: 33px !important;
  width: 70px !important;
  font-weight: normal;
}

.dialog-btn {
  height: 25px;
  padding-top: 0px;
}


