.info,.success,.warning,.error,.validation {
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size : 11px;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../../csd_web/icons/accept.gif');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../../csd_web/icons/reject.png');
}