<?xml version="1.0" ?>
<rows>
	#foreach( $gridData in $gridPopulateObjectList )
		<row id="$gridData.recordEntryId">
			<cell></cell>
			<cell><![CDATA[<a href="#" onclick="editRecord('$gridData.formURL')">Edit</a>]]></cell>
			<cell><![CDATA[$gridData.deUrl]]></cell>
			#set ($map = ${gridData.columns})
			#set ($headerMap = ${gridData.headers})
			#foreach ($header in $headerMap.entrySet())
				<cell><![CDATA[${map.get($header.key)}]]></cell>
			#end
		</row>
	#end
</rows>